@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Montserrat';
}

.btn {
    padding: 5px 15px;

    border: 1px solid cornflowerblue;
    border-radius: 5px;

    color: #fff;
    background-color: cornflowerblue;

    transition: all .5s ease;

    cursor: pointer;
}
.btn:hover {
    color: cornflowerblue;
    background-color: aliceblue;
}